$text-color: rgb(226 232 240);
$paragraph-color: #94a3b8;
$paragraph-hover-color: rgb(226 232 240);
$paragraph-color-2: rgb(100 116 139);
$highlight-color: rgb(94 234 212);
$title-color: rgb(226 232 240);