@import "../../styles/variables.scss";

.container {
    width: 100%;
    height: 100vh;
    flex: 1;
    position: relative;
    background-color: rgb(15 23 42 / 1);

    .scrollContainer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        scrollbar-gutter: stable both-edges;
        scroll-snap-type: y mandatory;
        overflow-x: hidden;
        max-height: 100%;

        /* Webkit browsers (Chrome, Safari) */
        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background: #d6d5d5;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        .wrapper {
            width: 100%;
            height: 100%;
            background: radial-gradient(400px at var(--gradientX, 0px) var(--gradientY, 0px), rgba(29, 78, 216, 0.15), transparent 80%);
            transition-duration: .3s;
            transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
            transition-timing-function: cubic-bezier(.4, 0, .2, 1);

            .contentWrapper {
                max-width: 1280px;
                padding: 0 3rem;
                margin: 0 auto;

                .content {
                    display: flex;
                    gap: 1rem;
                    justify-content: space-between;

                    .sideBar {
                        position: sticky;
                        top: 0;
                        max-height: 100vh;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 30%;
                    }

                    .mainContent {
                        width: 70%;
                    }
                }

            }
        }
    }
}
@media only screen and (max-width: 1024px) {
    .contentWrapper {
        .content {
            flex-direction: column;
            .sideBar {
                position:  relative !important;
                width: 100% !important;
            }
            .mainContent {
                width: 100% !important;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .contentWrapper {
        padding: 0 2rem !important;
    }
    
}

@media screen and (max-width: 577px) {
    .contentWrapper {
        padding: 0 1rem !important;
    }
    
}