@import "../../styles/variables.scss";

.container {
    width: 100%;
    height: 100%;
    flex: 1;
    position: relative;
    background-color: rgb(15 23 42 / 1);

    .mouseContainer {
        display: flex;
        position: relative;
        width: 100%;
        height: fit-content;

        .mouseHighlight {
            z-index: 1;
            position: absolute;
            inset: 0;
            transition-duration: .3s;
            pointer-events: none;
            transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
            transition-timing-function: cubic-bezier(.4, 0, .2, 1);

        }
    }

    .wrapper {
        display: flex;
        width: 100%;
        flex-direction: row;
        max-width: 1280px;
        margin: 0 auto;
    }



    .sidebar {
        position: fixed;
        height: 100%;
        z-index: 999;
        width: 20%;
        min-width: 200px;
        top: 0;
        bottom: 0;
    }

    .mainContent {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        position: relative;
        padding-left: 2rem;

        .mainWrapper {
            width: 70%;
            display: flex;
            justify-content: flex-end;
        }
    }
}