@import "../../styles/variables.scss";

.container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    .navItem {
        display: flex;
        align-items: center;
        gap: 1rem;  
        cursor: pointer;


        .navLine {
            width: 2rem;
            height: 1px;
            background-color: rgb(71 85 105);
            transition-property: all;
            transition-timing-function: cubic-bezier(.4, 0, .2, 1);
            transition-duration: .15s;
        }

        span {
            font-size: 12px;
            color: $paragraph-color-2;
            font-weight: 700;
            letter-spacing: .15em;
        }

        &:hover {
            .navLine {
                width: 4rem;
            }

            span {
                color: $text-color;
            }
        }
    }

    .selected {
        .navLine {
            width: 4rem;
        }

        span {
            color: $text-color;
        }
    }
}